.popup__error {
  display: none;
  width: 358px;
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  text-align: left;
  color: #f00;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 600px) {
  .popup__error {
    width: 238px;
  }
}
