.profile__edit-button {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin: 15px 0 0;
  padding: 0;
  border: 1px solid #fff;
  background: transparent url(../../../images/profile-edit-button.svg) no-repeat center;
  background-size: 10px 10px;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .profile__edit-button {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 18px;
    height: 18px;
    margin-top: 8px;
  }
}

.profile__edit-button:hover {
  opacity: .6;
}
