.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  display: inline-block;
  box-sizing: border-box;
  width: 18px;
  height: 19.3px;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent url(../../../images/card-delete-button.svg) no-repeat center;
  background-size: contain;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: .6;
}
