.popup__input {
  width: 358px;
  height: 27px;
  margin: 0 0 30px;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: left;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input:nth-of-type(2n) {
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .popup__input {
    width: 238px;
  }
}

.popup__input:focus {
  outline: none;
}
