.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 600px) {
  .popup__container {
    width: 282px;
  }
}
