.profile {
  display: flex;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 862px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
  }
}
