.popup__submit-button {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  margin: 48px 0 37px;
  padding: 0;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  border: none;
  border-radius: 2px;
  background-color: #000;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__submit-button {
    width: 238px;
    height: 46px;
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.21;
  }
}

.popup__submit-button:hover {
  opacity: .8;
}
