.header__logo {
  width: 142px;
  height: 33px;
  background: url(../../../images/logo-theme-dark.svg) no-repeat center;
  background-size: contain;
}

@media screen and (max-width: 600px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-left: 27px;
  }
}
