.profile__add-button {
  box-sizing: border-box;
  width: 150px;
  min-width: 150px;
  height: 50px;
  margin: 0 0 0 30px;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  background: transparent url(../../../images/profile-add-button.svg) no-repeat center;
  background-size: 22px 22px;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}


@media screen and (max-width: 862px) {
  .profile__add-button {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .profile__add-button {
    width: 100%;
    max-width: 282px;
    margin: 0;
  }
}

.profile__add-button:hover {
  opacity: .6;
}
