.card__like-button {
  display: inline-block;
  box-sizing: border-box;
  width: 22px;
  height: 19px;
  margin: 0 5px 0 0;
  padding: 0;
  border: none;
  background: transparent url(../../../images/card-like-button-disabled.svg) no-repeat center;
  background-size: contain;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: .5;
}
