.footer__text {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}

@media screen and (max-width: 600px) {
  .footer__text {
    font-size: 14px;
    line-height: 1.21;
  }
}
