.profile__name {
  max-width: 294px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .profile__name {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    min-width: 189px;
    text-align: center;
    font-size: 27px;
    line-height: 1.22;
  }
}
