.profile__description {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: flex-end;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}

@media screen and (max-width: 862px) {
  .profile__description {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .profile__description {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 14px;
    line-height: 1.21;
  }
}
