.popup__photo-description {
  position: absolute;
  bottom: -25px;
  left: 0;
  max-width: 291px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .popup__photo-description {
    width: 100%;
  }
}
