.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent url(../../../images/popup-close-button.svg) no-repeat center;
  background-size: cover;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}

.popup__close-button:hover {
  opacity: .6;
}
