.popup__submit-button_disabled {
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
  opacity: .2;
  transition: none;
  cursor: default;
}

.popup__submit-button_disabled:hover {
  opacity: .2;
}
