.profile__avatar {
  width: 120px;
  height: 120px;
  margin-right: 30px;
  border-radius: 50%;
  object-position: center;
  object-fit: contain;
}

@media screen and (max-width: 862px) {
  .profile__avatar {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .profile__avatar {
    margin-bottom: 26px;
  }
}
