.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: min-content min-content;
  grid-column-gap: 18px;
  grid-row-gap: 5px;
  max-width: 336px;
  margin: 0 auto 0 0;
}

@media screen and (max-width: 862px) {
  .profile__info {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .profile__info {
    grid-template-columns: 36px 1fr 36px;
    grid-template-rows: min-content min-content;
    grid-column-gap: 10px;
    width: 100%;
    margin-bottom: 36px;
  }
}
