.popup__title {
  width: 358px;
  margin: 34px 0 54px;
  padding: 0;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  text-align: left;
  color: #000;
}

@media screen and (max-width: 600px) {
  .popup__title {
    width: 238px;
    margin-top: 25px;
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 1.22;
  }
}
